body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: #282c30;
  overflow: hidden;
}

body .air{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .04;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
  scale: 2;
}
body .air.air1{
  animation: wave 30s linear infinite;
  z-index: 5;
  opacity: 0.03;
  animation-delay: 0s;
  bottom: 0;
}
body .air.air2{
  animation: wave2 25s linear infinite;
  z-index: 4;
  opacity: 0.02;
  animation-delay: -5s;
  bottom: 10px;
}
body .air.air3{
  animation: wave 40s linear infinite;
  z-index: 3;
  opacity: 0.007;
  animation-delay: -2s;
  bottom: 15px;
}
body .air.air4{
  animation: wave2 15s linear infinite;
  z-index: 2;
  opacity: 0.009;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}
